<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/petite-vue" defer init></script>
  <link rel="stylesheet" href="https://unpkg.com/normalize.css">
  <style>
    * {
      box-sizing: content-box;
    }
    #app {
      width: 100vw;
      height: 100vh;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <div id="app" v-scope="{ logList: [], inputText: '초기값' }">
    <div class="input-wrap">
      <input type="text" v-model="inputText" />
      <button @click="logList.push(inputText); inputText = '';">입력</button>
    </div>
    <div class="input-log-wrap">
      <!--
        javascript의 for(idx in list) 문법과 유사하게, v-for="(item, idx) in list" 형태로 사용할 수 있다.
        item(첫번째 값)은 배열의 각 항목이며, idx(두번째 값)은 배열에서 항목의 순서(index)이다.
        v-for을 사용할 때 key값은 주는 것이 좋으며, 보통 고유한 id값을 주면 된다.(아래와 같은 배열 index를 사용하는 건 나쁜 예 중에 하나다.)
      -->
      <div v-for="(text, idx) in logList" :key="idx">
        <p>{{ text }}</p>
      </div>
    </div>
  </div>
</body>
</html>